What's the meaning of some fields of output?

What's the meaning of [115], 4095, A 0 0 0（why 0 0 0）, 117.121.7.6 0 0(Why 0 0) ?Where can i get more information about the meaning of output?
![20171213182645](https://user-images.githubusercontent.com/14247115/33934260-50ea6b16-e033-11e7-829b-95fd77484ad8.png)





Updated man-page.

This is the output produced by -g , a backslash at the end indicates that the line continues on the next.  First line contains packet and capturing information:

      [<pktsize>] <date> <timestamp> [<pktnum> <file|interface> <vlanid>]

Second line shows IP information or if the packet is a fragment:

      [<srcip>].<srcport> -> [<dstip>].<dstport>

      ;: [<srcip>] -> [<dstip>] (frag)

If the packet contains DNS information then the next line will show the DNS header information:

      dns <opcode>,<rcode>,<id>,<flags>

Next are the 4 sections of the DNS, each section is prefixed by the number of records and each record and section are separated by space.  Below are a few example, first is just a
query, second has just one answer and the last has also authority and additional records.

      1 example.com,IN,A 0 0 0

      1 example.com,IN,A \
      1 example.com,IN,A,47,127.0.0.1 0 0

      1 example.com,IN,A \
      1 example.com,IN,A,263,127.0.0.1 \
      4 example.com,IN,NS,157794,ns1.example.com \
      example.com,IN,NS,157794,ns4.example.com \
      example.com,IN,NS,157794,ns3.example.com \
      example.com,IN,NS,157794,ns2.example.com \
      4 ns2.example.com,IN,A,157794,127.0.0.1 \
      ns1.example.com,IN,A,331796,127.0.0.1 \
      ns3.example.com,IN,A,157794,127.0.0.1 \
      ns4.example.com,IN,A,157794,127.0.0.1

Each DNS record contains the following:

      <fqdn>,<class>,<type>[,<ttl>[,<additional information>]]

Additional information will be displayed for SOA, A, AAAA, MX, NS, PTR, CNAME and OPT records containing EDNS0.

> dns QUERY,NOERROR,23371,qr|rd|ra 

what's the meaning of qr?

Read RFC 1035 section 4.1.1 .